body {
	background-image: url("images/home_background.jpg");
	background-repeat: repeat;
}
h1 { 
	text-align: center;
	color: white;
}

.header {
	width: 600px;
	margin-left:auto;
	margin-right:auto;
	display: table;
}

.subHeader {
	text-align:center;
	color: white;
	font-size: 1em;
}

.headerMenu {
	margin-left: auto;
	margin-right: auto;
	display: inline;
	list-style-type: none;
}

.headerMenu li {
	padding: 2px 4px;
	text-align: center;
	display: inline;
}

.homeBigImg {
}

.homeEnterP {
	font-size: 2em;
	color: white;
	margin-top: 100px;
}

div.footer{
	text-align:center;
}