* {margin:0; padding:0; }

body {
	background-image: url("https://jmoon018.github.io/images/home_background.jpg");
	/*background-color: black;*/
	color:white;
}

a { color: lightblue;}
h1 { 
	text-align: center;
	color: white;
	font-size:5em;
}

.header {
	width: 600px;
	margin-left:auto;
	margin-right:auto;
	display: table;
}

.subHeader {
	text-align:center;
	color: white;
	margin-top:15px;
	font-size: 1.8em;
}

.headerMenu {
	margin-top:20px;
	list-style-type: none;
	text-align: center;
}

.headerMenu li {
	padding: 2px 10px;
	text-align: center;
	display: inline;
	font-size: 1.3em;
}

.homeBigImg {
}

.homeEnterP {
	font-size: 3em;
	color: white;
	margin-top: 160;
	text-align: center;
	font-weight: bold;
}


 
div.left_bar{
float:left;
margin-right: 15px;
}
 
ul.vertical_left{
list-style-type:none;
}
 
 .vertical_left li { margin-top:5px; }

 
div.main_body{
display:table;
width:500px;
margin-left:auto;
margin-right:auto;
}
 
 
.blog_title_image{
float: left;
margin-right: 15px;
width: 50px;
height: 50px;}
 

div.footer{
	position: absolute;
	bottom: 0;
	width:100%;
	height:50px;
	background-color: black;
	padding:15px;
	box-sizing: border-box;
	text-align:center;
}