body {
	background-image: url("https://jmoon018.github.io/images/home_background.jpg");
	/*background-color: black;*/
	color:white;
}

a { color: lightblue;}
h1 { 
	text-align: center;
	color: white;
	font-size:7em;
}

.header {
	width: 600px;
	margin-left:auto;
	margin-right:auto;
	display: table;
}

.subHeader {
	text-align:center;
	color: white;
	font-size: 3em;
}

.headerMenu {
	margin-left: auto;
	margin-right: auto;
	display: inline;
	list-style-type: none;
	text-align: center;
}

.headerMenu li {
	padding: 2px 8px;
	text-align: center;
	display: inline;
	font-size: 1em;
}

.homeBigImg {
}

.homeEnterP {
	font-size: 4em;
	color: white;
	margin-top: 100px;
	text-align: center;
	font-style: bold;
}

div.footer{
	position: absolute;
	bottom: 0;
	width:100%;
	height:50px;
	background-color: lightgray;
	padding:15px;
	text-align:center;
}